* {
  box-sizing: border-box;
  margin: 0;
}

form {
  margin-top: 30px;
  margin-left: 20px;
}

#kobisContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

  .content {
    padding: 30px;
    border: 2px solid gray;
    border-radius: 5px;

    h2 {
      margin-bottom: 20px;
      text-align: center;
      color: #FFBFBF;
    }
    table {
      border-spacing: 1;
      border-collapse: collapse;
      background: white;
      border-radius: 6px;
      overflow: hidden;
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
      position: relative;

      * {
        position: relative;
      }

      td,
      th {
        padding-left: 20px;
      }

      .thead {
        height: 60px;
        background: #A8DF8E;
        font-size: 16px;
      }

      .tbody {
        height: 48px;
        border-bottom: 1px solid #E3F1D5;

        &:last-child {
          border: 0;
        }

        .movieName,
        .rank {
          text-align: center;
        }
        .movieName{
          font-weight: bold;
        }
      }
    }
  }
}