* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CookieRun-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

form {
  margin-top: 30px;
  margin-left: 20px;
}

#kobisContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

  .content {
    padding: 30px;
    border: 2px solid gray;
    border-radius: 5px;

    h2 {
      margin-bottom: 20px;
      text-align: center;
      color: #053B50;
      font-family: 'NeoDunggeunmoPro-Regular';
    }

    table {
      border-spacing: 1;
      border-collapse: collapse;
      background: white;
      border-radius: 6px;
      overflow: hidden;
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
      position: relative;

      * {
        position: relative;
      }

      td,
      th {
        padding-left: 20px;
      }

      .thead {
        height: 60px;
        background: #176B87;
        font-size: 16px;
        color: #fff;
      }

      .tbody {
        height: 48px;
        border-bottom: 1px solid #E3F1D5;
        font-family: 'CookieRun-Regular';
        font-size: 18px;

        &:last-child {
          border: 0;
        }

        .movieName,
        .rank {
          text-align: center;
        }
      }
    }
  }
}